.headSection {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: auto;
  max-width: 1650px;
  border-bottom: 2px solid #8f1665;
}
.headSection a {
  text-decoration: none;
  color: #707070;
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
}

.headLinks {
  margin-left: 100px;
  font-size: 18px;
  margin-top: 50px;
}

.LogoSection {
  margin-left: 700px;
}

#burgerCon {
  display: none;
}

iframe {
  margin-top: 0px;
  margin-bottom: 0px;
}

#headNav #button {
  background: url(../images/burger_menu.svg) center no-repeat;
  border: 0px;
  width: 20px;
  height: 20px;
  transition: all 400ms ease;
}

#headNav #button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#burgerCon.slideToggle {
  display: block;
}

.bodyContent {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 200px;
  margin-left: 300px;
  font-family: "Poppins", sans-serif;
}

.mainContent {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.bodyTeamContent {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: 100px;
  color: #464646;
  font-family: "Poppins", sans-serif;
}

.valueContent {
  display: flex;
  flex-direction: column;
}

.Content1, .Content2, .COntent3 {
  color: #464646;
}

.collapsible {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  max-width: 600px;
}

.collapsehead {
  display: flex;
  flex-direction: row;
}
.collapsehead h3 {
  margin-top: 12px;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropCon {
  display: flex;
  flex-direction: row;
}
.dropCon h3 {
  margin-top: 12px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  max-width: 600px;
}

.show {
  display: block;
  position: relative;
}

.footerSection {
  display: flex;
  flex-direction: row;
  max-width: 1650px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  border-top: 2px solid #8f1665;
}
.footerSection a {
  display: flex;
  text-decoration: none;
  color: #464646;
  margin-top: 10px;
  margin-right: 400px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
}
.contact_form input {
  height: 35px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  width: 80%;
}
.contact_form label {
  font-size: 16px;
  font-weight: 800;
  padding: 1rem 0;
  position: relative;
}
.contact_form label::after {
  content: "*";
  padding: 5px;
}
.contact_form textarea {
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.contactButton {
  width: 120px;
  color: white;
  background-color: #8f1665;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 500px) {
  .LogoSection {
    margin-left: 220px;
  }
  .LogoSection img {
    height: 60px;
  }

  .headSection {
    padding-top: 10px;
  }

  .headLinks {
    display: flex;
    margin-top: 25px;
    font-size: 14px;
  }
  .headLinks a {
    margin-left: 0px;
  }

  .footerSection {
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
  }

  .paraCon {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .footercontent {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .footercontent a {
    margin: auto;
  }

  .bodyContent {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    font-size: 16px;
    margin-bottom: 50px;
    justify-content: center;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 90%;
    font-size: 14px;
  }
}
@media (min-width: 700px) {
  .LogoSection {
    margin-left: 450px;
  }

  .footerSection {
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
  }

  .paraCon {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
@media (min-width: 800px) {
  .LogoSection {
    margin-left: 150px;
  }

  #button {
    display: none;
  }

  #burgerCon.slideToggle {
    display: none;
  }

  #burgerCon {
    display: flex;
    flex-direction: row;
  }

  .headLinks {
    margin-left: 70px;
  }
  .headLinks a {
    margin-left: 10px;
  }

  .footerSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .footerSection a {
    margin: none;
    text-align: left;
  }

  .paraCon, .footercontent {
    margin: auto;
  }

  .bodyContent {
    flex-direction: row;
    text-align: left;
    justify-content: left;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .mainContent {
    text-align: left;
    margin-left: 50px;
  }
}
@media (min-width: 900px) {
  .headLinks {
    margin-top: 29px;
    margin-left: 90px;
  }
  .headLinks a {
    margin-left: 20px;
    font-size: 14px;
  }

  .bodyContent {
    margin-left: 130px;
  }

  .mainContent {
    font-size: 14px;
  }
}
@media (min-width: 1000px) {
  .headLinks {
    margin-left: 110px;
  }

  .LogoSection {
    margin-left: 300px;
  }

  .bodyContent {
    margin-left: 170px;
  }

  .mainContent {
    font-size: 16px;
    margin-left: 60px;
  }
}
@media (min-width: 1100px) {
  .LogoSection {
    margin-left: 350px;
  }

  .headLinks {
    margin-left: 130px;
  }
  .headLinks a {
    margin-left: 25px;
    font-size: 16px;
  }

  .bodyContent {
    margin-left: 240px;
  }

  .mainContent {
    margin-left: 80px;
  }

  .footerSection {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .LogoSection {
    margin-left: 330px;
  }

  .headLinks {
    margin-left: 150px;
  }
  .headLinks a {
    margin-left: 27px;
  }

  .bodyContent {
    margin-left: 260px;
  }
}
@media (min-width: 1300px) {
  .LogoSection {
    margin-left: 360px;
  }

  .headLinks {
    margin-left: 180px;
  }

  .bodyContent {
    margin-left: 280px;
  }
}
@media (min-width: 1400px) {
  .LogoSection {
    margin-left: 400px;
  }

  .headLinks {
    margin-left: 210px;
  }

  .bodyContent {
    margin-left: 300px;
  }
}
@media (min-width: 1500px) {
  .LogoSection {
    margin-left: 450px;
  }

  .headLinks {
    margin-left: 260px;
  }

  .bodyContent {
    margin-left: 350px;
  }
}
@media (min-width: 1600px) {
  .LogoSection {
    margin-left: 500px;
  }

  .headLinks {
    margin-left: 280px;
  }

  .bodyContent {
    margin-left: 370px;
  }
}
@media (min-width: 1700px) {
  .LogoSection {
    margin-left: 550px;
  }

  .headLinks {
    margin-left: 310px;
  }

  .bodyContent {
    margin-left: 390px;
  }
}
@media (min-width: 1800px) {
  .LogoSection {
    margin-left: 500px;
  }

  .headLinks {
    margin-left: 340px;
  }

  .bodyContent {
    margin-left: 410px;
  }
}

/*# sourceMappingURL=main.css.map */
