.footerSection {
    display: flex;
    flex-direction: row;
    max-width: 1650px;
    margin: auto;font-family: 'Poppins', sans-serif;
    justify-content: center;
    border-top: 2px solid #8f1665;

    a {
        display: flex;
        text-decoration: none;
        color: #464646;
        margin-top: 10px;
        margin-right: 400px;
    }
}