@media (min-width: 500px) {
// INDEX PAGE QUERY
.LogoSection {
margin-left: 220px;
img{
    height: 60px;
}
}

.headSection {
    padding-top: 10px;
}

.headLinks {
    display: flex;
    margin-top: 25px;
    font-size: 14px;
    a{
        margin-left: 0px;
    }
}

.footerSection {
    display: flex;
    flex-direction: column-reverse;
    font-size: 14px;
}
.paraCon{
    display: flex;
    justify-content: center;
    margin: auto;
}
.footercontent {
    display: flex;
    text-align: center;
    a{
        margin: auto;
    }
    justify-content: center;
}
.bodyContent {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    font-size: 16px;
    margin-bottom: 50px;
    justify-content: center;
}


.mainContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 90%;
    font-size: 14px;
  
}

// INDEX PAGE QUERY ENDS


}


@media (min-width: 700px) {
    // INDEX PAGE QUERY
    .LogoSection {
    margin-left: 450px;
    }
    
    .footerSection {
        display: flex;
        flex-direction: column-reverse;
        font-size: 14px;
    }
    .paraCon{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    
    // INDEX PAGE QUERY ENDS
    
    
    }


@media (min-width: 800px) {
    
// INDEX PAGE QUERY

.LogoSection {
    margin-left: 150px;
    }
    

    #button {
		display: none;
	}

	#burgerCon.slideToggle {
		display: none;
	}
#burgerCon {
	display: flex;
	flex-direction: row;
}


.headLinks {
    margin-left: 70px;
    a{
        margin-left: 10px;
    }
}

.footerSection {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    a{
        margin: none;
        text-align: left;
    }
}
.paraCon, .footercontent {
    margin: auto;
}
.bodyContent {
    flex-direction: row;
    text-align: left;
    justify-content: left;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.mainContent {
    text-align: left;
    margin-left: 50px;
}

// INDEX PAGE QUERY ENDS
}




    

@media (min-width: 900px) {
    
    // INDEX PAGE QUERY
    
    .headLinks {
        margin-top: 29px;
        margin-left: 90px;
        a{
            margin-left: 20px;
            font-size: 14px;
        }
    }
    
    .bodyContent {
        margin-left: 130px;
    }

    .mainContent {
       font-size: 14px;
    }
    
    // INDEX PAGE QUERY ENDS
    }

    

@media (min-width: 1000px) {
    
    // INDEX PAGE QUERY
    .headLinks {
        
    margin-left: 110px;
    }
.LogoSection {
    margin-left: 300px;
    } 
    .bodyContent {
        margin-left: 170px;
    }
    
   .mainContent {
        font-size: 16px;
        margin-left: 60px;
     }
    // INDEX PAGE QUERY ENDS
    }

    @media (min-width: 1100px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 350px;
        } 
        .headLinks {
            margin-left: 130px;

            a{
                margin-left: 25px;
                font-size: 16px;
            }
        }
        
        .bodyContent {
            margin-left: 240px;
        }
        
   .mainContent {
    margin-left: 80px;
 }
 .footerSection {
     font-size: 16px;
 }
        // INDEX PAGE QUERY ENDS
        }


        
    @media (min-width: 1200px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 330px;
        } 
        .headLinks {
            margin-left: 150px;
            a{
                margin-left: 27px;
            }
        }
        
        .bodyContent {
            margin-left: 260px;
        }
        
        // INDEX PAGE QUERY ENDS
        }

        

        
    @media (min-width: 1300px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 360px;
        } 
        .headLinks {
            margin-left: 180px;
        }
        
        .bodyContent {
            margin-left: 280px;
        }
        
        // INDEX PAGE QUERY ENDS
        }

        
    @media (min-width: 1400px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 400px;
        } 
        .headLinks {
            margin-left: 210px;
        }
        
        .bodyContent {
            margin-left: 300px;
        }
        
        // INDEX PAGE QUERY ENDS
        }

        
        
    @media (min-width: 1500px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 450px;
        } 
        .headLinks {
            margin-left: 260px;
        }
        
        .bodyContent {
            margin-left: 350px;
        }
        
        // INDEX PAGE QUERY ENDS
        }

        
    @media (min-width: 1600px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 500px;
        } 
        .headLinks {
            margin-left: 280px;
        }
        
        .bodyContent {
            margin-left: 370px;
        }
        
        // INDEX PAGE QUERY ENDS
        }

        
    @media (min-width: 1700px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 550px;
        } 
        .headLinks {
            margin-left: 310px;
        }
        
        .bodyContent {
            margin-left: 390px;
        }
        
        // INDEX PAGE QUERY ENDS
        }

        
    @media (min-width: 1800px) {
    
        // INDEX PAGE QUERY
        
    .LogoSection {
        margin-left: 500px;
        } 
        .headLinks {
            margin-left: 340px;
        }
        
        .bodyContent {
            margin-left: 410px;
        }
        
        // INDEX PAGE QUERY ENDS
        }